<style>
    p.prikaz{
        font-weight: bold;
    }
</style>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><h2><%= @user.name %></h2></h3>
  </div>
  <div class="panel-body">
    <ul>
      <li><div class="well well-sm"><p class="prikaz">OIB:</p> <%= @user.OIB %></div><p></p></li>
      <li><div class="well well-sm"><p class="prikaz">Grad:</p> <%= @user.grad %></div><p></p></li>
      <li><div class="well well-sm"><p class="prikaz">Ulica:</p> <%= @user.ulica %></div><p></p></li>
      <li><div class="well well-sm"><p class="prikaz">Poštanski broj:</p> <%= @user.postanski_broj %></div><p></p></li>



      <div class="well well-sm"><p class="prikaz"><h3>Jezici:</h3></p>
        <% @user.jeziks.each do |jezik| %>
            <li><%= jezik.name %></li>
        <% end %></div><p></p>
      <li><div class="well well-sm"><p class="prikaz">Radi za nas</p> <%= @user.radi_za_nas %></div><p></p></li>
      <li><div class="well well-sm"><p class="prikaz">e-mail:</p> <%= @user.mail %></div><p></p></li>

      <li><div class="well well-sm"><p class="prikaz">Mobitel:</p> <%= @user.mobitel %></div><p></p></li>
      <li><div class="well well-sm"><p class="prikaz">Telefon:</p> <%= @user.telefon %></div><p></p></li>
      <li><div class="well well-sm"><p class="prikaz">Obrazovanje:</p> <%= @user.obrazovanje %></div><p></p></li>
      <li><div class="well well-sm"><p class="prikaz">Karijerska pozicija:</p> <%= @user.karijerska_pozicija %></div><p></p></li>
      <li><div class="well well-sm"><p class="prikaz">Inozemno iskustvo:</p> <%= @user.inozemno_iskustvo? ? "Da" : "Ne" %></div><p></p></li>
      <% if @user.datum_rodenja != nil %>
          <li><div class="well well-sm"><p class="prikaz">Datum rođenja:</p> <%= @user.datum_rodenja.strftime(" %d.%m.%Y. ") %></div><p></p></li>
      <% end %>
      <li><div class="well well-sm"><p class="prikaz">Mjesto rođenja:</p> <%= @user.mjesto_rodenja %></div><p></p></li>


    </ul>
  </div>
</div>



