<style>
p.prikaz{
	font-weight: bold;
}
</style>
<h2><%=  @event.title %></h2>
<ul>
	<li><p class="prikaz">Grupa:</p><%= link_to @event.group.name, grupa_path(@event.group.id) %><p></p></li>
	<li><p class="prikaz">Vrijeme početka:</p><%= @event.start %><p></p></li>
	<li><p class="prikaz">Vrijeme završetka</p><%= @event.end %><p></p></li>
	<li><p class="prikaz">Datum:</p><%= @event.date.strftime("%d.%m.%Y.") %><p></p></li>
</ul>
<h3>Popis svih učenika</h3>
<ul>
	<% @event.group.uceniks.each do |ucenik| %>
	<li><%= ucenik.name %></li>

	<% end %>
</ul>
<h3>Prisutni učenici</h3>
<ul>
	<% @event.uceniks.each do |ucenik| %>
	<li><%= ucenik.name %></li>
	<% end %>	
</ul>
<p><%= link_to "Izmjeni", edit_event_path(@event.id) %></p>
