<h2><%=  @event.title %></h2>
<ul>
	<li><%= @event.start %></li>
	<li><%= @event.end %></li>
	<li><%= @event.date.strftime("%d.%m.%Y.") %></li>
</ul>
<h3>Prisutni uÄenici</h3>
<ul>
	<% @event.uceniks.each do |ucenik| %>
	<li><%= ucenik.name %></li>
	<% end %>	
</ul>
<p><%= link_to "Edit", edit_event_path(@event.id) %></p>
