<style>
p.prikaz{
	font-weight: bold;
}
</style>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><h2><%=  @event.title %></h2></h3>
  </div>
  <div class="panel-body">
  	<p><div class="well well-sm"><h3><%= link_to "Izmjeni", edit_event_path(@event.id) %></h3></div></p>
	<ul>
		<% if @event.group != nil %>
		<li><div class="well well-sm"><p class="prikaz">Grupa:</p><%= link_to @event.group.name, grupa_path(@event.group.id) %></div><p></p></li>
		<% end %>
		<li><div class="well well-sm"><p class="prikaz">Vrijeme završetka</p><%= @event.odrzano? ? "Održano" : "Nije održano" %></div><p></p></li>
		<li><div class="well well-sm"><p class="prikaz">Datum:</p><%= @event.date.strftime("%d.%m.%Y.") %></div><p></p></li>
		<li><div class="well well-sm"><p class="prikaz">Vrijeme početka:</p><%= @event.start.to_s %></div><p></p></li>
		<li><div class="well well-sm"><p class="prikaz">Vrijeme završetka</p><%= @event.end.to_s %></div><p></p></li>


	</ul>
	<% if @event.group != nil %>
	<div class="well well-lg"><h3>Popis svih učenika</h3>
	<% @event.group.uceniks.each do |ucenik| %>
	<ul>
				<% @indicator = 0 %>
		<% ucenik.payments.each do |pay| %>
		<% if pay.date.strftime("%d.%m.%Y.") < Time.now.strftime("%d.%m.%Y.") && pay.uplaceno == 0 %>
			<% @indicator = 1 %>
			<% break %>
		<% elsif pay.date.strftime("%d.%m.%Y.") < (Time.now+14.days).strftime("%d.%m.%Y.") && pay.uplaceno == nil %>
			<% @indicator = 2 %>
			<% break %>	
		<% end %>
		<% end %>

		<% if @indicator == 1 %>
			<li><%= link_to ucenik.name, ucenik_path(ucenik.id), {:style =>'color: #FF9900'} %></li>
		<% elsif @indicator == 2 %>
			<li><%= link_to ucenik.name, ucenik_path(ucenik.id), {:style =>'color: #FF0000'} %></li>
		<% else %>
			<li><%= link_to ucenik.name, ucenik_path(ucenik.id) %></li>
		<% end %>
	</ul>
	<% end %></div>
	<div class="well well-sm"><h3>Prisutni učenici</h3>
	<ul>
		<% @event.uceniks.each do |ucenik| %>
		<li><%= ucenik.name %></li>
		<% end %>	
	</ul></div>
	<% end %>
  </div>
</div>




