<div class="panel panel-default">
	<div class="panel-heading"><h2>Kreirajte novo predavanje</h2></div>
		<div class="panel-body">
		<div class="well well-lg">
			<%= semantic_form_for @event do |f| %>
				<%= f.inputs do %>
				<div id="section-details">
					<div class="form-group">
					<%= f.input :title, :label => "Naziv", :required => true ,:input_html => {:class => 'form-control'} %></br>
					</div>

					<div class="form-group">
					<%= f.input :profesor, :label => "Profesor",:required => true , :input_html => {:class => 'form-control'}%></br>
					</div>

					<div class="form-group">
					<%= f.input :start, :label => "PoÄetak predavanja",:required => true , :as => :time_select,:input_html => {:class => 'form-control'} %></br>
					</div>

					<div class="form-group">
					<%= f.input :end, :label => "Kraj predavanja",:required => true , :as => :time_select,:input_html => {:class => 'form-control'} %></br>
					</div>

					<div class="form-group">
					<%= f.input :where, :label => "UÄionica",:required => true ,  :as => :select, :input_html => {:class => 'form-control'}%></br>
					</div>

					<div class="form-group">
					<%= f.input :start_date, :label => "Datum",:required => true ,  :as => :date_picker, :input_html => {:class => 'form-control', :min => '1.1.2015', :placeholder => "dd.mm.gggg."} %></br>
					</div>
				</div>
				<% end %>
				<%= f.actions do %>
					<%= f.action :submit, :as => :button, :button_html => {:class => 'btn btn-primary'} %></br>
					<%= f.action :cancel, :as => :link, :button_html => {:class => 'btn btn-default'} %>
			    <% end %>
			<% end %>
			</div>
	</div>
</div>