<style>
p.prikaz{
	font-weight: bold;
}
</style>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><h2><%= @ucenik.name %></h2></h3>
  </div>
  <div class="panel-body">
 	<ul>
		<li><div class="well well-sm"><p class="prikaz">OIB:</p> <%= @ucenik.OIB %></div><p></p></li>
		<li><div class="well well-sm"><p class="prikaz">Grad:</p> <%= @ucenik.grad %><p></p></li>
		<li><div class="well well-sm"><p class="prikaz">Ulica:</p> <%= @ucenik.ulica %><p></p></li>
		<li><div class="well well-sm"><p class="prikaz">Poštanski broj:</p> <%= @ucenik.postanski_broj %><p></p></li>
		<% if @ucenik.parents_name? %>
		<li><div class="well well-sm"><p class="prikaz">Ime Roditelja:</p> <%= @ucenik.parents_name %></div><p></p></li>
		<% end %>
		<li><div class="well well-sm"><p class="prikaz">Broj telefona/mobitela:</p> <%= @ucenik.tel %></div><p></p></li>
		<li><div class="well well-sm"><p class="prikaz">e-mail:</p> <%= @ucenik.email %></div></li>
	</ul> 	
  </div>
</div>




<%= grid(@ucenik_grid, show_filters: :always) do |g| 

	g.column name: "ID", attribute: 'id'  do |t|
		t.id
	end

	g.column name: "Grupa", attribute: 'name', custom_filter: :auto , model: Group do |t|
		if t.group != nil
		 t.group.name#link_to(t.group.name, grupa_path(t.id))
		else
			"Nema grupe"
		end
	end

	g.column name: "Mjesec", attribute: 'date', ordering: true, filter: false  do |t|
		t.date.strftime(" %d.%m.%Y. ")
	end

	g.column name: "Plaćeno", attribute: 'uplaceno'  do |t|
		t.uplaceno? ? "Da" : "Ne"
	end

	g.column name: "Uplata(kn)", attribute: 'uplata' do |t|
		t.uplata
	end

	g.column do |t|
		link_to("Plaćanje", uplata_path(t.id))
	end

end-%>
